.offscreen {
    position: absolute;
    left: -9999px;
  }
  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgb(53, 121, 222);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }
  .errMsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .hide {
    display: none;
}
.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}